<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Biblioteca</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container">

        <div class="row justify-content-center">
            
            <div class="col-md-6">

                <div class="text-center mt-5 mb-5">
                    <h1 class="text-muted">Visualizações:</h1>
                </div>

                <div href="d-flex justify-content-center gap-3 col-6">
                    <a href="pages/visualizacao_livros.html" class=" btn btn-primary btn-lg w-100">
                        Livros
                    </a><br>
                    
                    <a href="pages/visualizacao_leitores.html" class="btn btn-primary btn-lg w-100 mt-2">
                        Leitores
                    </a><br>

                    <a href="pages/visualizacao_bibliotecarios.html" class="btn btn-primary btn-lg w-100 mt-2">
                        Bibliotecarios
                    </a><br>

                    <a href="pages/visualizacao_emprestimos.html" class="btn btn-primary btn-lg w-100 mt-2">
                        Empréstimos
                    </a>

                </div>

            </div>

        </div>
        
    </div>
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>